
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <h1 class="prueba2" >hola desde la vista empleados</h1>
    <h1 class="prueba1" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni molestiae ullam deleniti earum unde? Omnis reiciendis esse molestias, praesentium doloremque assumenda aspernatur sunt eveniet dolore ex atque! Fugiat, nobis labore?</h1>

    <!-- Anchors (links) -->
<a href="about.html" class="button">Learn More</a>
<a href="#features" class="button">View All Features</a>

<!-- Buttons (actions) -->
<button class="submit success button">Save</button>
<button type="button" class="alert button">Delete</button>
</body>
</html>