{% extends 'base.html'%}
{% load static%}
{%block title%}
    {{object.full_name}}
{%endblock title%}

{%block content%}
    {%include 'includes/header.html'%}
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="card cell large-4" style="width: 300px;">
                <div class="card-divider">
                    {{empleado.get_job_display}}
                </div>
                {%if empleado.avatar%}
                <img src=" {{empleado.avatar.url}}">
                {%else%}
                <img src="{% static 'img/empleados.jpg' %}">
                {%endif%}

                <div class="card-section">
                  <h4>{{empleado.full_name}}</h4>
                  <p>Nombre: {{empleado.first_name}}.</p>
                  <p> Apellido: {{empleado.last_name}}.</p>
                  <p>Departamento: {{empleado.departamento.name}}</p>
                  <p><span class="label"> habilidades</span></p>
                  <ul class="vertical menu ">
                    {%for h in empleado.habilidad.all %}
                    <li>{{h.name}}</li>
                    {%endfor%}


                  </ul>
<!-- 
                  job=models.CharField('job', max_length=1, choices=JOB_CHOICES)
                  departamento = models.ForeignKey(Departamento, on_delete=models.CASCADE)
                  habilidad = models.ManyToManyField(Habilidad)
                  hoja_vida= RichTextField()
                  avatar= models.ImageField -->
                </div>
              </div>

        </div>

    </div>
{%endblock content%}
